.assets/
.proxy/
.dist/
.work/
.vibering/
tests/test-cmds.txt
.testsettings.json

bin/
obj/
.vs/
.idea/
TestResults/
*.binlog

node_modules/
.npmrc

.env
.env.local
.env.*.local
.env.docker

generated/
/docs/commandline
.DS_Store
